<form [formGroup]="profileForm">
  <div>
    First Name:
    <input type="text" formControlName="firstName" />
  </div>
  <div>
    Last Name:
    <input type="text" formControlName="lastName" />
  </div>

  <div>
    Subscribe:
    <input type="checkbox" formControlName="subscribed" />
  </div>

  <div>Disabled: <input formControlName="disabledInput" /></div>
  <div formArrayName="addresses" *ngFor="let item of itemControls; let i = index">
    <div [formGroupName]="i">
      <div>City: <input formControlName="city" /></div>
    </div>
  </div>
  <button (click)="addItem()">Add</button>
</form>
